<div class="card card-body bg-light mt-4">
<h2><%= @post.title %></h2>
<p><%= @post.body %></p>
<hr>
<div class="btn-group">
    <%= button_to "Edit", edit_post_path(@post), :class => 'btn btn-primary', :style=> 'margin-right: 10px;' %>
    <%= button_to "Delete", post_path(@post),
    method: :delete,
    data: { confirm: 'are you sure ?' },
    :class => 'btn btn-danger'  %>
</div>








<br>
<h5>All Comments</h5>
<% @post.comments.each do |comment| %>
    <div class="card card-body bg-light mt-2 ">
        <p><strong><%= comment.username %></strong>: <%= comment.body %>
        <%= link_to '[x]', [comment.post, comment], method: :delete, data: { confirm: 'ara you sure?' } %> </p>
    </div>
<% end %>















<br>
<h5>Comment</h5>
<div class="card card-body bg-light ">
<%= form_for([@post, @post.comments.build]) do |f| %>
    <% if @post.errors.any? %>
        <% @post.errors.full_messages.each do |msg| %>
            <div class="alert alert-danger"><%= msg %></div>
        <% end %>    
    <% end %>
    <p>
        <%= f.label :username %><br>
        <%= f.text_field(:username, {:class => 'form-control'}) %>
    </p>

    <p>
        <%= f.label :body %><br>
        <%= f.text_field(:body, {:class => 'form-control'}) %>
    </p>

    <p>
        <%= f.submit({:class => 'btn btn-primary'}) %>
    </p>

<% end %>
<%= render 'comments/comments' %>
<%= render 'comments/form' %>
</div>
</div>

